div.bg-cover{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(255,255,255,0.8);
  background-image:url(../../assets/img/php-programmer-bg.png);
  background-size:cover;
  background-repeat:no-repeat;
  -webkit-filter:blur(2px);
  -moz-filter:blur(2px);
  -o-filter:blur(2px);
  -ms-filter:blur(2px);
  filter:blur(2px);
}

