footer{
  border-top-color:#F7F7F7;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:25px 75px;
  bottom:0;
  position:fixed;
  border-top-style:solid;
  border-top-width:thin;
  font-size:11px;
  font-family:'Open Sans', sans-serif;
}

a{
  color:#7292c2 !important;
}

span{
  color:#dedede;
  font-weight:100;
}

header > h1{
  text-align:center;
}

