a{
  color:#7292c2 !important;
}

span{
  color:white;
  font-weight:100;
}

img#logo{
  -ms-transform:scale(0.5,0.5);
  -webkit-transform:scale(0.5,0.5);
  transform:scale(0.5,0.5);
}

header{
  padding-left:25px;
  padding-right:25px;
  padding-top:7px;
  padding-bottom:7px;
  border-bottom-color:#F7F7F7;
  border-bottom-style:solid;
  border-bottom-width:thin;
  line-height:60px;
  min-height:60px;
}

.header-nav{
  padding-top:8px;
}

div.side-bar{
  width:400px;
  height:100%;
  position:absolute;
  right:-353px;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(104, 145, 162);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(12, 97, 33);
}

.login-card .forgot-password{
  color:rgb(104, 145, 162);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
  color:rgb(12, 97, 33);
}

*{
  -webkit-border-radius:0 0 0 0;
  border-radius:0 0 0 0;
  font-family:'Open Sans';
  color:#406286 !important;
}

.login-card{
  max-width:350px;
  padding:40px 40px;
  margin:0 auto;
}

.login-card .profile-img-card{
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.toggle-sidebar{
  border-radius:0;
}

button.btn.btn-primary.toggle-sidebar:hover{
  background-color:white;
}

body{
  overflow-x:hidden;
}

